.hello {
  width: 100%;
}

.upcoming-draws-calendar {
  --grid-gap: 2px;
  --calendar-month-width: 256px;
  --month-gap: 0;
  font-family: "Metropolis", sans-serif;

  max-width: var(--calendar-month-width);
  position: relative;
  margin: 1rem auto;

  &__btn-selectors-wrapper {
    position: absolute;
    width: 100%;
  }

  &__date-toggle-selector {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 24px;
    height: 24px;

    &.prev {
      left: 0;
    }
  
    &.next {
      right: 0;
    }
  }

  &__months-wrapper {
    display: flex;
  }

  &__month-wrapper {
    height: 100%;
  }

  &__month-header {
    text-align: center;
    margin-bottom: 1rem;
  }

  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  &__days-of-week {
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
    color: var(--system-lynch, #64708E);
    text-align: center;
    // font-family: Gotham;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
  }
  
  &__days-of-week,
  &__days-grid {
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }
  
  &__days-of-week > * {
    text-align: center;
  }
  
  &__days-grid {
    height: 100%;
    position: relative;
  }

  .calendar-day {
    position: relative;
    height: 35px;
    font-size: 16px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;;

    &.draw-type {
      &-1,
      &-2,
      &-3,
      &-4 {
        color: white;
        text-align: center;
          span.date-of-month {
            display: none;
          }
      }

      &-1,
      &-2 {
        font-size: 13px;

        span {
          transform: rotate(-45deg);
          display: inline-block;
        }
      }

      &-3,
      &-4 {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: .9;

        strong {
          font-size: 11px;
          letter-spacing: -1px;
        }
      }
    }

    &.draw-day:not(.not-current-month-day) {
        &.draw-type {
            &-1 {
                border: 1px solid purple;
                color: purple;
            }
            &-2 {
              background-color: purple;
            }
            &-3 {
              background: linear-gradient(62deg, #BF6D8E 21.72%, #A37286 93.57%);
            }
            &-4 {
              background: linear-gradient(62deg, #008666 21.72%, #0EA781 93.57%);
            }
        }
      }
  }
  
  &__calendar-day > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .not-current-month-day {
    span {
      display: none;
    }
  }

  &__error-message {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }
    
  @media (min-width: 343px) {
    --grid-gap: 11px;
    --calendar-month-width: 311px;
  }

  @media (min-width: 768px) {
    --month-gap: 2rem;

    max-width: calc((var(--calendar-month-width) * 2) + var(--month-gap));
    // max-width: calc((var(--calendar-month-width)} * 2) + var(--month-gap));

    &__months-wrapper {
      gap: var(--month-gap);
      justify-content: space-between;
      // max-width: calc((var(--calendar-month-width) * 2) + var(--month-gap));
      // margin-left: auto;
      // margin-right: auto;
    }
  }

  @media (min-width: 1024px) {
    max-width: calc((var(--calendar-month-width) * 3) + (var(--month-gap) * 2));
  }
}
  
// .calendar-month-header {

//   @media (min-width: 768px) {
//     justify-content: space-between;
//     align-items: center;
//     width:100%;
//   }
// }

// .calendar-selectors {
//   // position: absolute;
//   background: none;
//   border: none;
//   padding: 0;
//   cursor: pointer;
//   outline: inherit;
//   width: 24px;
//   height: 24px;
// }


// .calendar-month {
//   position: relative;
//   // background-color: var(--grey-200);
//   // border: solid 1px var(--grey-200);
// }


// .calendar-month-header {
//   display: flex;
//   justify-content: space-between;
//   background-color: #fff;
//   padding: 10px;
// }

// .calendar-month-header-selected-month {
//   text-align: center;
//   // font-family: Gotham;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 150%; 
// }

// .calendar-month-header-selectors {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 80px;
// }

// .calendar-month-header-selectors > * {
//   cursor: pointer;
// }



// .calendar-day--today {
//   padding-top: 4px;
// }

// .calendar-day--today > span {
//   color: #fff;
//   border-radius: 9999px;
//   // background-color: var(--grey-800);
// }


