
.collapse-custom {
  
  width: 300px;
  background-color: white;

  &.dropdown {
    display: flex;
    
    
    .collapse-custom__item {
      margin-right: 5px;
      position: relative;
    }
    
    .collapse-custom__body {
      position: absolute;
      transform: scale(1, 1) translateX(-50%) translateY(0%);
      opacity: 0;
      left: 50%;
      width: 300px;
      top: calc(100% + 23px);
      transform-origin: top center;
      z-index:1002;

      &.t1 {
        transform: scale(1, 1) translateX(-50%) translateY(0%);
        opacity: 1;
        transform-origin: top center;

        // transition: 
        //   max-height 0.15s cubic-bezier(0.17, 0.67, 0.27, 1), 
        //   transform 0.15s cubic-bezier(0.17, 0.67, 0.27, 1), 
        //   opacity 0.15s cubic-bezier(0.17, 0.67, 0.27, 1)
        // ;
        transition-duration: .15s;
      }

    }
  }
}

// .collapse-custom__item {
//     margin-bottom: 5px;
// }

.collapse-custom__head {
  width: 100%;
  padding: 1rem;
  color: #4d4d4d;
  background-color: #fafafa;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;

  
  &:hover {
    cursor: pointer;
    background-color: #ebebeb;
  }
}

.collapse-custom__body {
  display: block;
  // transition-duration: 0.3s;
  // transition-property: max-height, opacity, margin, transform;
  // transition-timing-function: cubic-bezier(0.17, 0.67, 0.27, 1);
  transition: 
    max-height 0.3s cubic-bezier(0.17, 0.67, 0.27, 1), 
    transform 0.3s cubic-bezier(0.17, 0.67, 0.27, 1), 
    opacity 0.3s cubic-bezier(0.17, 0.67, 0.27, 1)
  ;
  overflow: hidden;
  transform: scale(1,1);
  opacity: 1;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  
  a {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    color: #4d4d4d;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-color: #ebebeb;
    }
    
    &:last-child {
      border-bottom: none;
    }
  }

  > div {
    background-color: #fff;
    border: 1px solid #ccc;
  }

  &.collapsed {
    display: none;
  }
}

.navigation__login > button {
  cursor:pointer;
}


.desktop-login {
  display: none;
}

// .login-cart-wrapper {
//   display: block;
// }

ul.navigation__ul.desktop.collapse-custom.dropdown {
  display: none;
}

@media (min-width: 1024px) {
  ul.navigation__ul.desktop.collapse-custom.dropdown {
    display: flex;
    width: auto;
  }
  
  .collapse-custom.dropdown {
    display: flex;
  }

  .navigation__login {
    display: none;
  }
  
  .desktop-login {
    display: block;
  }

  li.navigation__login.collapse-custom__item {
    display: none;
  }
}