body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./color-variables.scss";
@import "./vars.scss";
@import "./breakpoints.scss";
@import "./grid.scss";
// @import "./calendar-styles.scss";
@import "./upcoming-draws-calendar.scss";
@import "./upcoming-draws.scss";
