$col_white: #fff;
$col_base_purple: purple;

.subscribe-now-panel {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &__inner-wrapper {
        background-color: $col_base_purple;
        color: $col_white;
        padding: 1rem;
    }

    &__anchor-wrapper {
        color: white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;

            .subscribe-now-panel__visual-link {
                img {
                    transform: translateX(10px);
                }
            }

            .subscribe-now-panel__tcs a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;

                    .subscribe-now-panel__visual-link {
                        img {
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }

    &__anchor-inner {
    }

    &__tcs,
    &__anchor-inner {
        display: flex;
        color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        // row-gap: 12px;
    }

    // &__column-left,
    // &__column-right {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    // }

    // &__column-left {
    //   margin-bottom: 0;

    //   @media( min-width: sm2) {
    //     align-items: end;
    //   }
    // }

    &__column-right {
        // h3, span, a {
        //   display: inline-block;
        //   width: 100%;
        // }
        //   @media( min-width: sm2) {
        //     align-items: start;
        //     text-align: left;
        //   }

        padding-bottom: 2rem;

        > * {
            display: inline-block;
        }
    }

    &__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 125%;

        @media (min-width: 768px) {
            font-size: 49px;
            margin-bottom: 0;
        }
    }

    &__visual-link {
        font-weight: 325;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            display: inline-block;
        }

        img {
            margin-left: 12px;
            transition: transform 0.3s ease-in-out;
        }
    }

    a {
        // color: $col_white;
        //   color: $col_french_lilac;
        //   text-decoration: none;

        //   &:hover {
        //     color: darken($col_french_lilac, 10%);
        //     text-decoration: underline;
        //   }
    }

    &__tcs {
        position: absolute;
        // display: inline-block;
        // display: flex;
        // justify-content: flex-start;

        // display: inline-block;
        // width: 100%;
        // text-align: left;
        // flex-direction: column;
        // align-content: center;
        // text-align: center;

        // div:first-of-type {
        //   width: 184px;
        // }

        // position: relative;

        a {
            color: $col_white;
            bottom: 0;
            // transform: translateY(-1.5rem);

            display: inline-block;
            text-decoration: none;
            width: auto;
            // position: absolute;
            @media (min-width: sm2) {
                // position: relative;
                // transform: translateY(-2.5rem);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (min-width: 460px) {
        &__inner-wrapper {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &__tcs,
        &__anchor-inner {
            column-gap: 12px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: left;
        }

        &__visual-link {
            font-weight: 325;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    @media (min-width: 768px) {
        &__tcs,
        &__anchor-inner {
            // justify-content: space-around;
            column-gap: 64px;
        }
    }
    // @media( min-width: md2) {
    // }
}
