.upcoming-draws-calendar {
  --grid-gap: 2px;
  --calendar-month-width: 256px;
  --month-gap: 0;

  max-width: var(--calendar-month-width);
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;

  &__btn-selectors-wrapper {
    position: absolute;
    width: 100%;
  }

  &__date-toggle-selector {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 24px;
    height: 24px;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;

      span {
        transform: rotate(180deg);
      }
    }
  }

  &__months-wrapper {
    display: flex;
  }

  &__month-wrapper {
    height: 100%;
  }

  &__month-header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
    font-family: $font-family-title;
    line-height: 150%;
  }

  ol,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__days-of-week {
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #64708e;
    text-align: center;
    font-family: $font-family-title;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
  }

  &__days-of-week,
  &__days-grid {
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }

  &__days-of-week > * {
    text-align: center;
  }

  &__days-grid {
    height: 100%;
    position: relative;
  }

  .calendar-day {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: $col_white;
    display: flex;
    row-gap: 1px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    font-family: $font-family-title;
    font-size: 10px;
    line-height: 100%;
    font-weight: 400;

    &.draw-day {
      font-family: $font-family-base;
      font-weight: 325;

      strong {
        font-family: $font-family-title;
        font-weight: 400;
      }

      .date-of-month {
        display: none;
      }
    }

    &.not-current-month-day {
      .upcoming-draws-calendar__draw-wrapper {
        display: none;
      }
    }

    &.event-count {
      // ensure all tiles are even heights
      @for $i from 1 through 4 {
        &-#{$i} {
          .upcoming-draws-calendar__draw-wrapper {
            min-height: calc(35px / #{$i});
            max-height: calc(35px / #{$i});
          }
        }
      }

      // counter single-event tile-styles
      @for $i from 2 through 4 {
        &-#{$i} {
          span {
            transform: rotate(0);
          }

          .vip-crown__wrapper {
            display: none;
          }

          .upcoming-draws-calendar__draw-wrapper {
            &.vip {
              &:before {
                content: " ";
                position: absolute;
                width: 6px;
                height: 6px;
                background: $col_base_purple;
                border-radius: 50%;
                top: 1px;
                left: 1px;
                transform: translate(-50%, -50%);
              }
            }
          }

          .draw-type {
            &-1,
            &-1 {
              strong {
                letter-spacing: initial;
              }
            }
          }
        }
      }
    }
  }

  &__draw-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;

    &.event-count-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      width: 100%;
      height: 100%;
      min-height: 17px;
    }

    .vip-crown__wrapper {
      position: absolute;
      width: 18px;
      height: 18px;
      background: linear-gradient(
        62deg,
        $col_base_purple 21.72%,
        $fuchsia_blue 93.57%
      );
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.16);
      left: -4px;
      top: 5px;
      transform: translateY(-50%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.white {
        background: $col_white;

        img {
          filter: none;
        }
      }

      img {
        width: 10px;
        height: 10px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      }
    }

    &.draw-type {
      // WIN 5k
      &-1,
      // WIN 100k
      &-2,
      // VIP: open/close draw-dates
      &-3,
      // Standard: open/close draw-dates
      &-4 {
        color: $col_white;
        text-align: center;

        span.date-of-month {
          display: none;
        }
      }

      &-1,
      &-2 {
        strong {
          letter-spacing: -1px;
        }
      }

      &-3,
      &-4 {
        span {
          transform: rotate(-45deg);
          display: inline-block;
        }
      }

      &-1 {
        background: linear-gradient(62deg, #bf6d8e 21.72%, #a37286 93.57%);
      }

      &-2 {
        background: linear-gradient(
          62deg,
          $col_deep_sea 21.72%,
          $niagara 93.57%
        );
      }

      &-3 {
        background: linear-gradient(
          62deg,
          $col_base_purple 21.72%,
          $fuchsia_blue 93.57%
        );
      }

      &-4 {
        border: 1px solid $col_base_purple;
        color: $col_base_purple;
      }
    }
  }

  &__event-content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__calendar-day > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .not-current-month-day {
    span {
      display: none;
    }
  }

  &__error-message {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }

  @media (min-width: 343px) {
    --grid-gap: 11px;
    --calendar-month-width: 311px;
  }

  @media (min-width: 768px) {
    --month-gap: 2rem;

    max-width: calc((var(--calendar-month-width) * 2) + var(--month-gap));

    &__months-wrapper {
      gap: var(--month-gap);
      justify-content: space-between;
    }
  }

  @media (min-width: 1140px) {
    max-width: calc((var(--calendar-month-width) * 3) + (var(--month-gap) * 2));
  }
}
